# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/*.class
**/*.log
**/*.pyc
**/*.swp
**/.DS_Store
**/.atom/
**/.buildlog/
**/.history
**/.svn/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# Android SDK
android-sdk/
flutter/

# VS Code
**/.vscode/
