# Supprimer l'ancien .gitignore s'il existe
rm .gitignore

# Créer un nouveau .gitignore
cat > .gitignore << 'EOL'
# Android SDK
android-sdk/
**/android-sdk/
*.zip

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter/

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# IDE
.idea/
.vscode/
*.iml

# Others
*.log
*.deb
*.tar.gz
pubspec.lock
EOL